<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDNlOgl3KDVe7u9Id_6nLqmYUpSfBir-Zk</string>
	<key>GCM_SENDER_ID</key>
	<string>959639114944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.astrologyApp</string>
	<key>PROJECT_ID</key>
	<string>astrology-app-c9948</string>
	<key>STORAGE_BUCKET</key>
	<string>astrology-app-c9948.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959639114944:ios:f50aa37851112c70890925</string>
</dict>
</plist>